@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
body {
  // background-color: #151719;
  background-image: url("/back.jpg");
  overflow: hidden;
  font-size: 32px;
  color: #d5d5d5;
  font-family: "Russo One", sans-serif;
}

a {
  text-decoration: none;
}

// .main {
//   display: flex;
//   width: 98vw;
//   .main-img {
//     margin: 0 auto 0 auto;
//     width: 60vw;
//     height: auto;
//     border-radius: 50%;
//   }
// }

.main {
  display: flex;
  width: 98vw;
  height: 100vh;
  color: #d5d5d5;
  .main-image {
    position: relative;
    width: 75vw;
    img {
      position: absolute;
      bottom: -12vh;
      opacity: 0.7;
      max-width: 37vw;
      min-width: 650px;
      min-height: 65%;
      transform: rotate(3deg) translate(-50px, 2vh);
      animation: mainImg 25s infinite;
    }
  }

  .main_block {
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    h1 {
      font-size: 72px;
      text-shadow: #c71d41 1px -7px 0px;
    }

    p {
      margin: 4vh 0 0 0;
      text-align: center;
    }

    .main_menu {
      display: flex;
      flex-direction: column;
      gap: 3vw;
      margin: 4vh 0 3vh 0;

      .main_menu-links {
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
      }
    }
  }
}

@keyframes mainImg {
  0% {
    transform: rotate(1deg) translate(-50px, 4vh);
  }
  50% {
    transform: rotate(3deg) translate(10px, 4vh);
  }

  100% {
    transform: rotate(1deg) translate(-50px, 4vh);
  }
}

@media (max-width: 1365px) {
  body {
    font-size: 20px;
  }

  .main {
    .main-image {
      img {
        min-width: 550px;
      }
    }
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 20px;
    overflow-y: auto;
  }

  .main {
    flex-direction: column;
    .main-image {
      width: 100vw;
      position: relative;
      text-align: center;
      img {
        position: relative;
        bottom: 0;
        z-index: -1;
        min-width: 300px;
        animation: none;
        transform: none;
        border-radius: 50%;
      }
    }

    .main_block {
      position: relative;
      top: -6vh;

      h1 {
        font-size: 64px;
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .main {
    .main-image {
      img {
        min-width: 250px;
      }
    }

    .main_block {
      position: relative;

      h1 {
        font-size: 38px;
      }
    }
  }
}
