.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex;
  width: 40vw;
  height: 50vh;
  min-width: 200px;
  background: center no-repeat;
  background-size: contain;
  transition: 0.3s;
}

.slide_full {
  width: 60vw;
  height: 100vh;
}

.button {
  cursor: pointer;
  user-select: none;
  img {
    transition: 0.3s;
    width: 5vw;
    border-radius: 50%;
  }

  &:active {
    transition: 0.1s;
    transform: translateY(5px);
  }
}

.left {
  img {
    transform: rotate(-90deg);
  }
}
.right {
  img {
    transform: rotate(90deg);
  }
}

.none {
  cursor: auto;
  user-select: none;
  color: transparent;
  img {
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .slide {
    width: 70vw;
    height: 50vh;
  }

  .slide_full {
    width: 81vw;
    height: 60vh;
  }

  .button {
    img {
      width: 10vw;
    }
  }
}

@media (max-width: 900px) {
  .slide {
    width: 90vw;
    height: 40vh;
  }

  .slide_full {
    width: 98vw;
    height: 55vh;
  }

  .left {
    position: relative;
    img {
      position: absolute;
      top: -20px;
      right: -40px;
      transform: rotate(-90deg);
    }
  }
  .right {
    position: relative;
    img {
      position: absolute;
      top: -20px;
      left: -40px;
      transform: rotate(90deg);
    }
  }
}
